
#monitor_layout_url = http://localhost:8080/NXP_WFMServer/cfm/layout
monitor_layout_url = http://localhost:8080/WFMServer/cfm/layout
monitor_layout_xml = layout.xml

monitor_tracking_url = http://localhost:8080/WFMServer/

monitor_path_logoff = cfm_logout.do
monitor_path_status = cfm_statList.do
monitor_marquee_text = ppt_bulletinInfo.do

monitor_interval = 3000
monitor_link_target = cfmlink
monitor_wait_time = 0
monitor_context_path =

#Legend Location, NORTH, SOUTH, WEST, EAST
monitor_legend_location = NORTH
scrolling_text_location=

monitor.stat.Fab2-F1.X.CV13=10
monitor.stat.Fab2-F1.Y.CV13=10


# ======================================
# WIP Configuration
# ======================================
wip = 1,20,30,40
wip.1 = images/wip1.gif
wip.20 = images/wip2.gif
wip.30 = images/wip3.gif
wip.40 = images/wip4.gif

# ======================================
# Alert Configuration
# ======================================
alert = 1,2,3,4,5,6,7,8
alert.1 = images/alrt1.gif
alert.2 = images/alrt2.gif
alert.3 = images/alrt3.gif
alert.4 = images/long_i.gif
alert.5 = images/long_u.gif
alert.6 = images/long_p.gif
alert.7 = images/long_l.gif
alert.8 = images/alrt_overidletime.gif

alert.blink.interval = 1

#Second
scroll.text.refreshinterval = 60
scroll.text.initialspeed = 1
scroll.text.foreground = FFFF00
scroll.text.background = 000080