
# ----- HSC 168 DB2 Data Source -------------------- 
#ds.ppt=jdbc/DBH1WPPT1
ds.ppt=jdbc/FD1BPPT
ds.wfm=jdbc/FD1BPPT

# ----- DB2 Data Source @NXP-------------------- 
#ds.ppt=jdbc/DBMESEXPPT
ds.his=jdbc/FD1BHIS 

# ----- HSC Oracle Data Source -------------------- 
#ds.ppt = jdbc/OCMESEXPPT
#ds.his = jdbc/OCMESEXHIS


# ----- DB Schema ---------------------- 
#schema.ppt = TDAPPT
#schema.his = TDAHIS
schema.ppt = PPT
schema.wfm = WFM
schema.his = HIS
schema.cfm = WFM

# ----- XML Transaction Log Path ---------------------- 
MQ_TX_LOG_PATH=D:/wcfm/tx

#------------------------------------------------------------------------------------------------------
#MESExpress MQ Configuration <HSC 168 Environment>
MQ_GATEWAY_SERVER_DEV    = 10.9.1.238
MQ_GATEWAY_TRANSMISSION  = FD1BQM1
MQ_PORT_TRANSMISSION     = 22425
MQ_CHANNELNAME           = FD1BQM1.SVRCONN
MQ_OPI_REPLY_QUEUE       = SHARE.REPLY

#------------------------------------------------------------------------------------------------------
#MESExpress MQ Configuration <NXP Site Fab 2 DEV Environment>
#MQ_GATEWAY_SERVER_DEV    = 10.2.2.5
#MQ_GATEWAY_TRANSMISSION  = H2QMPTD1
#MQ_PORT_TRANSMISSION     = 1425
#MQ_CHANNELNAME           = H2QMPTD1.SVRCONN
#MQ_OPI_REPLY_QUEUE       = MESOPI.REPLY

#------------------------------------------------------------------------------------------------------
#MESExpress MQ Configuration <DB2 Environment>
#MQ_GATEWAY_SERVER_DEV    = 9.191.44.176
#MQ_GATEWAY_TRANSMISSION  = K1DEV01
#MQ_PORT_TRANSMISSION     = 1514
#MQ_CHANNELNAME           = K1DEV01.SVRCONN
#MQ_OPI_REPLY_QUEUE       = SHARE.REPLY
#------------------------------------------------------------------------------------------------------

#------------------------------------------------------------------------------------------------------
#MESExpress MQ Configuration <Oracle Environment>
#MQ_GATEWAY_SERVER_DEV    = 9.191.44.148
#MQ_GATEWAY_TRANSMISSION  = O1DEV01
#MQ_PORT_TRANSMISSION     = 1515
#MQ_CHANNELNAME           = O1DEV01.SVRCONN
#MQ_OPI_REPLY_QUEUE       = SHARE.REPLY
#------------------------------------------------------------------------------------------------------
# ======================================
# WFM
# ======================================
#Fab Layout path
cfm.layoutPath = /cfm/layout

#WFM Server Cache refresh time, in seconds
ServerCacheRefreshTime=3

# ----- CSVBroker ----------------------
cfm.cfm_statList.datasource = ds.wfm
cfm.cfm_statList.query = SELECT DISTINCT * FROM WFM.WFMEQPST

#Equipment & Equipment Group Relationship
cfm.eqptGroupRelationship.ds=ds.ppt
cfm.eqptGroupRelationship.query=SELECT DISTINCT EQPT_ID, EQPTG_ID FROM PPT.AEQPTGR ORDER BY EQPTG_ID


#All Equipment Alarm
cfm.allEqptAlarmByDate.ds=ds.ppt
cfm.allEqptAlarmByDate.query= \
	SELECT RPT_DATE, RPT_TIME, ALERT_ON_OFF_FLG, ALRT_CODE, ALRT_ID, ALRT_COMMENT, EQPT_ID \
	FROM PPT.AALERT \
	WHERE ( RPT_DATE > ? OR RPT_DATE = ? ) AND (RPT_DATE < ? OR RPT_DATE = ? ) AND ALERT_ON_OFF_FLG = 'Y' \
	ORDER BY RPT_DATE DESC, RPT_TIME DESC

#All Equipment Historic Alarm
cfm.allEqptHisAlarmByDate.ds=ds.his
cfm.allEqptHisAlarmByDate.query= \
	SELECT RPT_DATE, RPT_TIME, ALRT_ON_OF_FLG, ALRT_CODE, ALRT_ID, ALRT_COMMENT, EQPT_ID \
	FROM HIS.HAALERT \
	WHERE ( RPT_DATE > ? OR RPT_DATE = ? ) AND (RPT_DATE < ? OR RPT_DATE = ? ) AND ( ALRT_ON_OF_FLG = 'Y' OR ALRT_ON_OF_FLG = 'N' ) \
	ORDER BY RPT_DATE DESC, RPT_TIME DESC

#All Equipment Alarm
cfm.allEqptAlarm.ds=ds.ppt
cfm.allEqptAlarm.query= \
	SELECT RPT_DATE, RPT_TIME, ALERT_ON_OFF_FLG, ALRT_CODE, ALRT_ID, ALRT_COMMENT, EQPT_ID \
	FROM PPT.AALERT \
	WHERE RPT_DATE > ? OR RPT_DATE = ? AND RPT_TIME > ? AND ALERT_ON_OFF_FLG = 'Y' \
	ORDER BY RPT_DATE DESC, RPT_TIME DESC

#All Equipment Historic Alarm
cfm.allEqptHisAlarm.ds=ds.his
cfm.allEqptHisAlarm.query= \
	SELECT RPT_DATE, RPT_TIME, ALRT_ON_OF_FLG, ALRT_CODE, ALRT_ID, ALRT_COMMENT, EQPT_ID \
	FROM HIS.HAALERT \
	WHERE RPT_DATE > ? OR RPT_DATE = ? AND RPT_TIME > ? AND ( ALRT_ON_OF_FLG = 'Y' OR ALRT_ON_OF_FLG = 'N' ) \
	ORDER BY RPT_DATE DESC, RPT_TIME DESC


# ======================================
# PPT Parameter
# ======================================
# Alarm Display Hours
ppt.alrtmonitor.disphour = 72
ppt.alrthis.disphour = 72


# ======================================
# Transaction
# ======================================
# xPIEQPHS
xpieqphs.struct.in = /com/ibm/lcd/trx/apieqphsi.xml
xpieqphs.struct.out = /com/ibm/lcd/trx/apieqphso.xml
xpieqphs.q.in = BPIEQPHS
xpieqphs.q.out = SHARE.OP

# xPIEQSHS
xpieqshs.struct.in = /com/ibm/lcd/trx/apieqshsi.xml
xpieqshs.struct.out = /com/ibm/lcd/trx/apieqshso.xml
xpieqshs.q.in = BPIEQSHS
xpieqshs.q.out = SHARE.REPLY

# xPINQSHT
xpinqsht.struct.in = /com/ibm/lcd/trx/apinqshti.xml
xpinqsht.struct.out = /com/ibm/lcd/trx/apinqshto.xml
xpinqsht.q.in = BPINQSHT
xpinqsht.q.out = SHARE.REPLY

# xPIOPSHT
xpiopsht.struct.in = /com/ibm/lcd/trx/apiopshti.xml
xpiopsht.struct.out = /com/ibm/lcd/trx/apiopshto.xml
xpiopsht.q.in = BPIOPSHT
xpiopsht.q.out = SHARE.REPLY

# xPINQLOT
xpinqlot.struct.in = /com/ibm/lcd/trx/apinqloti.xml
xpinqlot.struct.out = /com/ibm/lcd/trx/apinqloto.xml
xpinqlot.q.in = BPINQLOT
xpinqlot.q.out = SHARE.REPLY

# xPLSTBAY
xplstbay.struct.in = /com/ibm/lcd/trx/aplstbayi.xml
xplstbay.struct.out = /com/ibm/lcd/trx/aplstbayo.xml
#xplstbay.q.in = APLSTBAY
#xplstbay.q.out = SHARE.REPLY
xplstbay.q.in = BPLSTBAY
xplstbay.q.out = SHARE.REPLY

# xPLWIPEQ
xplwipeq.struct.in = /com/ibm/lcd/trx/aplwipeqi.xml
xplwipeq.struct.out = /com/ibm/lcd/trx/aplwipeqo.xml
xplwipeq.q.in = BPLWIPEQ
xplwipeq.q.out = SHARE.REPLY

# xPIWIPEQ
xpiwipeq.struct.in = /com/ibm/lcd/trx/apiwipeqi.xml
xpiwipeq.struct.out = /com/ibm/lcd/trx/apiwipeqo.xml
xpiwipeq.q.in = BPIWIPEQ
xpiwipeq.q.out = SHARE.REPLY

# xPIQCRRD
xpiqcrrd.struct.in = /com/ibm/lcd/trx/apiqcrrdi.xml
xpiqcrrd.struct.out = /com/ibm/lcd/trx/apiqcrrdo.xml
xpiqcrrd.q.in = BPIQCRRD
xpiqcrrd.q.out = SHARE.REPLY

# xPINQEQP
xpinqeqp.struct.in = /com/ibm/lcd/trx/apinqeqpi.xml
xpinqeqp.struct.out = /com/ibm/lcd/trx/apinqeqpo.xml
xpinqeqp.q.in = BPINQEQP
xpinqeqp.q.out = SHARE.REPLY

# xPLEQALM
xpleqalm.struct.in = /com/ibm/lcd/trx/apleqalmi.xml
xpleqalm.struct.out = /com/ibm/lcd/trx/apleqalmo.xml
xpleqalm.q.in = BPLEQALM
xpleqalm.q.out = SHARE.REPLY

# xPLICRSH
xplicrsh.struct.in = /com/ibm/lcd/trx/aplicrshi.xml
xplicrsh.struct.out = /com/ibm/lcd/trx/aplicrsho.xml
xplicrsh.q.in = BPLICRSH
xplicrsh.q.out = SHARE.REPLY

# APIEQALD Inquiry Alert Detail
xpieqald.struct.in = /com/ibm/lcd/trx/apieqaldi.xml
xpieqald.struct.out = /com/ibm/lcd/trx/apieqaldo.xml
xpieqald.q.in = BPIEQALD
xpieqald.q.out = SHARE.REPLY

# APLIEQSH Equipment Note/Alarm inquiary 
xplieqsh.struct.in = /com/ibm/lcd/trx/aplieqshi.xml
xplieqsh.struct.out = /com/ibm/lcd/trx/aplieqsho.xml
xplieqsh.q.in = BPLIEQSH
xplieqsh.q.out = SHARE.REPLY

# ----- DefaultStructFactory -----------
com.ibm.cxl.struct.validating = false
com.ibm.cxl.struct.fixedSize = true
com.ibm.cxl.struct.fillSpace = true

# ----- Message Service ----------------
ms.usexml = true
ms.timeout = 30000

