<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder location="classpath:jdbc-mes.properties,classpath:jdbc-alarm.properties"/>
    <context:component-scan base-package="com.matrix.cim">
    </context:component-scan>

    <!-- 配置dbcp数据源连接池 -->
    <bean id="mesDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${mes.jdbc.driverClassName}"/>
        <property name="url" value="${mes.jdbc.url}"/>
        <property name="username" value="${mes.jdbc.username}"/>
        <property name="password" value="${mes.jdbc.password}"/>
        <property name="filters" value="${mes.jdbc.filters}"/>
        <property name="maxActive" value="${mes.jdbc.maxActive}"/>
        <property name="initialSize" value="${mes.jdbc.initialSize}"/>
        <property name="maxWait" value="${mes.jdbc.maxWait}"/>
        <property name="minIdle" value="${mes.jdbc.minIdle}"/>
        <property name="timeBetweenEvictionRunsMillis" value="${mes.jdbc.timeBetweenEvictionRunsMillis}"/>
        <property name="minEvictableIdleTimeMillis" value="${mes.jdbc.minEvictableIdleTimeMillis}"/>
        <property name="validationQuery" value="${mes.jdbc.validationQuery}"/>
        <property name="testWhileIdle" value="${mes.jdbc.testWhileIdle}"/>
        <property name="testOnBorrow" value="${mes.jdbc.testOnBorrow}"/>
        <property name="testOnReturn" value="${mes.jdbc.testOnReturn}"/>
        <property name="poolPreparedStatements" value="${mes.jdbc.poolPreparedStatements}"/>
        <property name="maxPoolPreparedStatementPerConnectionSize"
                  value="${mes.jdbc.maxPoolPreparedStatementPerConnectionSize}"/>
    </bean>

    <bean id="mesJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="mesDataSource"/>
    </bean>


    <bean id="mailUtilInfo" class="com.matrix.cim.config.MailUtilInfo" init-method="init">
        <property name="username" value="cim_report@everdisplay.com"></property>
        <property name="password" value="BF3Kq7XbzvrikKWz4xHFaA=="></property>
        <property name="mailHost" value="10.9.2.78"></property>
        <property name="mailPort" value="25"></property>
    </bean>


    <!-- 配置dbcp数据源连接池 -->
    <bean id="amsDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${ams.jdbc.driverClassName}"/>
        <property name="url" value="${ams.jdbc.url}"/>
        <property name="username" value="${ams.jdbc.username}"/>
        <property name="password" value="${ams.jdbc.password}"/>
        <property name="filters" value="${ams.jdbc.filters}"/>
        <property name="maxActive" value="${ams.jdbc.maxActive}"/>
        <property name="initialSize" value="${ams.jdbc.initialSize}"/>
        <property name="maxWait" value="${ams.jdbc.maxWait}"/>
        <property name="minIdle" value="${ams.jdbc.minIdle}"/>
        <property name="timeBetweenEvictionRunsMillis" value="${ams.jdbc.timeBetweenEvictionRunsMillis}"/>
        <property name="minEvictableIdleTimeMillis" value="${ams.jdbc.minEvictableIdleTimeMillis}"/>
        <property name="validationQuery" value="${ams.jdbc.validationQuery}"/>
        <property name="testWhileIdle" value="${ams.jdbc.testWhileIdle}"/>
        <property name="testOnBorrow" value="${ams.jdbc.testOnBorrow}"/>
        <property name="testOnReturn" value="${ams.jdbc.testOnReturn}"/>
        <property name="poolPreparedStatements" value="${ams.jdbc.poolPreparedStatements}"/>
        <property name="maxPoolPreparedStatementPerConnectionSize"
                  value="${ams.jdbc.maxPoolPreparedStatementPerConnectionSize}"/>
    </bean>

    <bean id="amsJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="amsDataSource"/>
    </bean>

</beans>