*.class

# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders
*/target/
/target/
target/

# ignore eclipse files
.project
.classpath
.settings
.metadata
/bin/

#ignore idea files
.idea
*.iml


