.PAGE-TITLE {font-weight: bold; font-size: 12pt;}

TABLE.LIST {
	background-color: #66CCCC;
	font-size: 10pt;
}
TH.LIST {
	background-color: #CCCCCC;
	color: #000000;
	font-weight: bold;
	padding: 2px;
	font-size: 10pt;
}
TD.LIST {
	background-color: #FFFFFF;
	padding: 1px;
	font-size: 10pt;
}
TD.LISTNOWRAP {
	background-color: #FFFFFF;
	padding: 2px;
	font-size: 10pt;
	white-space: nowrap;
}
TD.WIDTH {
	background-color: #FFFFFF;
	width: 30%;
}

A {color: #006699;}
A:active {color: #D1D3FD;}
A:hover {color: #006699; text-decoration: none;}

P.LABEL {
	color: #006699;
	font-weight: bold;
	font-size: 10pt;	
}
TH.LABEL {
	color: #006699;
	text-align: right;
	font-size: 10pt;	
}

TABLE.SECTION {
	border-width: 0px;
	font-size: 10pt;
	width: 100%;
}
TH.SECTION {
	background-color: #006699;
	color: #FFFFFF;
	text-align: left;
	text-indent: 1em;
	font-size: 10pt;
}
TD.SECTION {
	padding: 5px;
	font-size: 10pt;
}

TABLE.FORM {
	border: 0px solid #CCCCCC;
	font-size: 10pt;	
}

A.MENU { color: #FFFFFF; text-decoration: none; }
A.MENU:hover { color: #FFFFFF; text-decoration: underline; }


TABLE.EQPT {
	background-color: #66CCCC;
	font-size: 10pt;
	width = 100%;
}

TH.EQPT {
	background-color: #CCCCCC;
	color: #000000;
	font-weight: bold;
	padding: 2px;
	font-size: 10pt;
	text-align: center;
}

TD.EQPT1 {
	background-color: #FFFFFF;
	padding: 1px;
	font-size: 10pt;
	text-align: left;
}

TD.EQPT2 {
	background-color: #FFFFFF;
	padding: 1px;
	font-size: 10pt;
	text-align: center;
}

TD.EQPT2_1 {
	padding: 1px;
	font-size: 10pt;
	text-align: center;
}

